h1 {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 6.2em;
  margin: 0.2px 0px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 0.2px 0px;
  color: white;
}

.topwall {
  background-color: #7f00ff;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  padding-top: 16px;
}

.edu {
  background-color: #7f00ff;
  color: white;
  padding: 16px 0px;
}

.contact {
  background-color: #7f00ff;
  color: white;
  text-align: center;
  padding-top: 16px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  color: #7f00ff;
}

.logos {
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 0px auto;
  width: 200px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0px 16px;
  margin-bottom: 0;
}

p {
  padding: 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #2f2f2f;
}

.contacts {
  color: white;
}

#email {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin: 16px auto;
}

.drop {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  background-color: #7f00ff;
  padding: 8px 0px;
  margin: 0px 300px;
  border-radius: 25px;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
}

.drop2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #7f00ff;
  text-align: center;
  background-color: white;
  padding: 8px 0px;
  margin: 0px 300px;
  border-radius: 25px;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
}

.drop:hover {
  margin: 0px;
  border-radius: 0;
}

.drop2:hover {
  margin: 0px;
  border-radius: 0;
}

.adjust {
  display: inline;
}

.freeg,
.ins {
  text-align: right;
}

.ins,
.cert {
  margin: 32px 16px;
}

.cert {
  color: white;
  /* margin: 0px 10px; */
}

.skills {
  padding: 16px 0px;
}

.skill {
  margin: 42px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
